<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    
    <section class="blog">
      <div class="clearfix">

        <div class="bio__wrapper">
          <div class="bg-orvelay"></div>
          <div class="bio--photo">
            <%=image_tag "me.png"%>
          </div>
          <div class="bio--desc">
            <p class="copy">
              Hi! I'm Paul. <br>
              My hobby happens to be my job! <br>
              Javascript is my passion & challenges are my motive.
            </p>
            <div class="bio--social">            
              <a target="_blank" href="https://github.com/ProjectPxl"><div class="icon github"></div></a>
              <a target="_blank" href="https://twitter.com/projectpxl"><div class="icon twitter"></div></a>
              <a target="_blank" href="https://www.facebook.com/Maltsevp"><div class="icon facebook"></div></a>
            </div>
          </div>
          <p class="footer--text"><a href="mailto:maltsevp@gmail.com">Speak to me</a> in Russian, Greek or English</p>
        </div>

        <div class="main-content__wrapper">
          <%= yield %>
        </div>

      </div>
    </section>

  </body>
</html>